<a href="#" onclick="return false"
   [ngClass]="{'is-chosen':nodeMessage.isChosen,'is-next-message':nodeMessage.isNextMessage}">
    <div *ngIf="nodeMessage.byAnswer !== null" class="answer">{{ nodeMessage.byAnswer == 1 ? 'Yes' : 'No' }}</div>
    <div class="message">{{ nodeMessage.messageText }}</div>
</a>

<ul *ngIf="nodeMessage.isQuestion">
    <li *ngFor="let node of childrenMessages">
        <app-tree-node #treeNodeComponents [nodeMessage]="node" [allMessages]="allMessages"></app-tree-node>
    </li>
</ul>
